firmware/**
new-keys/**
0100000000000*/**
*.zip
*.kip1
*.nso0
hekate_patches/loader_patches.ini
hekate_patches/fs_patches.ini
patches/atmosphere/*/*.ips
patches/atmosphere/*/*.ips
patches/atmosphere/*/*.ips
__pycache__/
